body {
    margin: 0;
    overflow: hidden;
}

#name {
    white-space: nowrap;
    position: fixed;
    color: #000;
    top: -3%;
    left: -1%;
    font-family: "Archivo Black", sans-serif;
    font-weight: 900;
    font-size: 11vw;
    line-height: 0.9em;
    letter-spacing: -10px;
    z-index: 1;
}