@import url('https://unicons.iconscout.com/release/v4.0.0/css/unicons.css');

body {
    margin: 0;
    -ms-overflow-style: none;
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header {
    height: 190px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#logo {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    margin: 0;
    cursor: pointer;
    position: relative;
} */

/* #contact-button {
    font-family: "Noto Serif", serif;
    font-size: 17px;
    font-weight: 400;
} */



/* .change-mode {
    animation: expanding 4s infinite;
    font-size: 20px;
} */

/* @keyframes expanding {
    from {
        font-weight: 200;
    }

    50% {
        font-weight: 900;
    }

    to {
        font-weight: 200;
    }
} */


.intro {
    position: relative;
    height: 100vh;
}

.intro .shutter-effect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    animation: shutter 1.5s forwards;
    z-index: 1;
}

@keyframes shutter {
    0% {
        opacity: 0.5;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

.intro .text {
    position: fixed;
    color: #fff;
    mix-blend-mode: difference;
    bottom: 3%;
    left: 20px;
    font-weight: 900;
    font-size: 20px;
    animation: moveUpName 1.5s ease forwards;
    animation-delay: 1.5s;
    z-index: 1;
}

@keyframes moveUpName {
    from {
        bottom: 3%;
    }

    to {
        bottom: 64%;
    }
}

.intro .text #name {
    font-size: 12vh;
}

section {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    display: none;
}

.outer,
.inner {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-size: cover;
    background-position: center;
}

.first .bg {
    background-image:
        url(../imgs/16.jpg);
}

.second .bg {
    background-image:
        url(../imgs/17.jpg);
}

.third .bg {
    background-image:
        url(../imgs/19.jpg);
}

.fourth .bg {
    background-image:
        url(../imgs/10.jpg);
}

.fifth .bg {
    background-image:
        url(../imgs/11.jpg);
    background-position: 50% 45%;
}

.intro p * {
    will-change: transform;
}

.intro .bottom-bar {
    color: #fff;
    mix-blend-mode: difference;
    position: fixed;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    width: 95vw;
    animation: moveUpBottomBar 1.5s ease forwards;
    animation-delay: 1.5s;
}

@keyframes moveUpBottomBar {
    from {
        bottom: -10%;
    }

    to {
        bottom: 3%;
    }
}

.intro .bottom-bar div {
    display: flex;
    width: 53%;
    justify-content: space-between;
}

.blur {
    backdrop-filter: blur(10px);
    overflow: hidden;
    filter: blur(10px);
    position: absolute;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
    opacity: 0;
}