@import url('https://unicons.iconscout.com/release/v4.0.0/css/unicons.css');

body {
    margin: 0;
    -ms-overflow-style: none;
    background-color: rgb(0, 0, 0);
    min-width: 660px;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}



/* .change-mode {
    animation: expanding 4s infinite;
    font-size: 20px;
} */

/* @keyframes expanding {
    from {
        font-weight: 200;
    }

    50% {
        font-weight: 900;
    }

    to {
        font-weight: 200;
    }
} */


.intro {
    height: 100vh;
    animation: moveUpIntro 1s ease forwards;
    animation-delay: 2s;
    transform: translateY(100%);
    position: fixed;
}

@keyframes moveUpIntro {
    to {
        transform: translateY(0%);
    }
}

#name {
    white-space: nowrap;
    position: fixed;
    color: #ffffff;
    mix-blend-mode: difference;
    top: 50px;
    margin-left: 2.5vw;
    font-family: "Archivo Black", sans-serif;
    font-weight: 900;
    font-size: 14vh;
    line-height: 1em;
    animation: moveUpName 3s ease forwards;
    z-index: 1;
}

@keyframes moveUpName {
    from {
        top: 100%;
    }

    33%, 66% {
        top: 65%;
    }

    100% {
        top: 50px;
    }
}

section {
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    display: none;
}

.outer,
.inner {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-size: cover;
    background-position: center;
}

.first .bg {
    background-image:
        url(../imgs/16.jpg);
}

.second .bg {
    background-image:
        url(../imgs/17.jpg);
}

.third .bg {
    background-image:
        url(../imgs/19.jpg);
}

.fourth .bg {
    background-image:
        url(../imgs/10.jpg);
}

.fifth .bg {
    background-image:
        url(../imgs/11.jpg);
    background-position: 50% 45%;
}

.intro p * {
    will-change: transform;
}


.proj-view {
    cursor: pointer;
}
