html,
body {
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    height: 170px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#logo {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    margin: 0;
    cursor: pointer;
    position: relative;
}

/* #contact-button {
    font-family: "Noto Serif", serif;
    font-size: 17px;
    font-weight: 400;
} */

.menu-icon {
    position: absolute;
    top: 85px;
    left: 85px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
}

.menu-global {
    backface-visibility: hidden;
    position: absolute;
    border-top: 3px solid black;
    width: 100%;
}

.menu-top {
    transform: translateY(-10px);
}

.menu-bottom {
    transform: translateY(10px);
}

/* .change-mode {
    animation: expanding 4s infinite;
    font-size: 20px;
} */

/* @keyframes expanding {
    from {
        font-weight: 200;
    }

    50% {
        font-weight: 900;
    }

    to {
        font-weight: 200;
    }
} */


.container {
    width: 100vw;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.slider {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}

.slider:last-child {
    margin: 0;
}

.slider h2 {
    position: absolute;
    font-family: "Anton", sans-serif;
    font-size: 90px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    transition: opacity 1s ease;
}

.slider:hover .images {
    cursor: pointer;
    opacity: 0.7;
    animation-name: autoSlide;
    animation-duration: 10S;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.slider:hover h2 {
    opacity: 1;
}

@keyframes autoSlide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-15%);
    }

    100% {
        transform: translateX(0);
    }
}

.container .slider img {
    height: 400px;
    margin-right: 33px;
}

/* .contact {
    height: 66vh;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact img {
    height: 400px;
    margin-right: 40px;
}

.contact .profile {
    height: 400px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact .profile .name {
    font-size: 30px;
    font-family: "Noto Serif", serif;
    font-weight: 500;
    margin-bottom: 30px;
}

.contact .profile .info {
    display: flex;
    flex-direction: row;
}

.contact .profile .info p {
    margin: 0;
    margin-right: 20px;
    font-family: "Noto Serif", serif;
    font-size: 18px;
}

.contact .profile .info .icon-info .email {
    display: flex;
    flex-direction: row;
}

.contact .profile .info .icon-info .email .alert-message {
    position: absolute;
}

.contact .profile .info .icon,
.contact .profile .info .icon-info {
    display: flex;
    flex-direction: column;
    line-height: 2em;
}

.contact .profile .info .icon p {
    font-weight: 600;
}

.contact .profile .info .icon-info span {
    font-size: 13px;
    font-weight: bolder;
    margin-left: 10px;
    color: red;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#hover-text,
#change-text {
    position: absolute;
    margin-left: 180px;
}

.contact .profile .info .icon-info p:hover {
    cursor: pointer;
    color: darkblue;
    text-decoration-line: underline;
    text-decoration-thickness: 6px;
} */


.menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
    margin-top: 8%;
}

.menu p {
    margin: 15px;
    font-size: 60px;
    font-family: "Playfair Display", serif;
    font-weight: 200;
    transform: translateX(-250%); 
    transition: transform 0.5s ease;
}

.menu p.animate {
    transform: translateX(0%);
}

.menu p:hover {
    color: darkkhaki;
    mix-blend-mode: difference;
}

.menu img {
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    transform: translateY(-200%); 
    transition: transform 0.8s ease;
}

.menu img.animate {
    transform: translateY(0%); 
} 

.effect-underline:after {
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
    height: 1em;
    width: 100%;
    border-bottom: 2px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.effect-underline:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

footer {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Noto Serif", serif;
    font-size: 13px;
    color: rgb(116, 116, 116);
}